<!doctype html>
<html lang="en" ng-app="bookApp">
  <head>
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
  </head>
  <body ng-controller="bookAdmin">
    <h4>Admin - Bookstore</h4>
    <table border=1>
      <thead>
        <tr>
          <th>ID</th>
          <th>ISBN</th>
          <th>Title</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>&nbsp;</td>
          <td><input type="text" ng-model="book.isbn" name="isbn"/></td>
          <td>&nbsp;</td>
          <td><input type="text" ng-model="book.quantity" name="quantity"/></td>
          <td><input type="text" ng-model="book.price" name="price"/></td>
          <td><button ng-click="create()">Create</button></td>
        </tr>
        <tr ng-repeat="book in model.books" ng-include="getTemplate(book)"></tr>

      </tbody>
    </table>
    
    <script type="text/ng-template" id="display">
      <td>{{book.id}}</td>
      <td>{{book.isbn}}</td>
      <td>{{book.title}}</td>
      <td>{{book.quantity}}</td>
      <td>{{book.price}}</td>
      <td>
        <button ng-click="edit(book)">Edit</button>
        <button ng-click="delete(book)">Delete</button>
        <button ng-click="info(book)">Info</button>
      </td>
    </script>
    
    <script type="text/ng-template" id="edit">
      <td>{{model.selected.id}}</td>
      <td><input type="text" ng-model="model.selected.isbgit n"/></td>
      <td><input type="text" ng-model="model.selected.title"/></td>
      <td><input type="text" ng-model="model.selected.quantity"/></td>
      <td><input type="text" ng-model="model.selected.price" /></td>
      <td>
            <button ng-click="update()">Save</button>
            <button ng-click="reset()">Cancel</button>
      </td>
    </script>
    
  </body>
</html>
