<!doctype html>
<html lang="en" ng-app="bookApp">
  <head>
    <title>Book Store Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
  </head>
  <body ng-controller="bookStore">
      <form>
          <h4>Customer Login</h4>
            <label for="username">Username:</label>
            <input type="text" ng-model="model.username" autocomplete="off" name="username"/>
            <p></p>
            <label for="password">Password:</label>
            <input type="password" ng-model="model.password" autocomplete="off" name="password"/>
        <div></div>
        <div>
          <p></p>
          <button ng-click="login()">Login</button>
          <button ng-click="signup()">Signup</button>
        </div>
      </form>
    </div>
  </body>
</html>