<!doctype html>
<html lang="en" ng-app="bookApp">
  <head>
    <title>Bookstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controller.js"></script>
  </head>
  <body ng-controller="bookStore" ng-init="getPreviousOrders()">
    <h4>Bookstore</h4>
    <table border=1>
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Title</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" ng-model="item.isbn" name="isbn"/></td>
          <td>&nbsp;</td>
          <td><input type="text" ng-model="item.qty" name="qty"/></td>
          <td>&nbsp;</td>
          <td><button ng-click="addItem()">Add</button></td>
        </tr>
        <tr ng-repeat="item in model.items" ng-include="getTemplate(item)"></tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>{{model.total}}</td>
          <td><button ng-click="create()">Create Order</button></td>
        </tr>
      </tbody>
    </table>
    
    <h4>Orders</h4>
      <br/>
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Items</th>
            <th>Quantity</th>
            <th>Order Total</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="order in model.orders">
            <td>{{order.id}}</td>
            <td><div ng-repeat="item in order.items">{{item.title}} <small>(x{{item.qty}} @ &pound;{{item.unit_price}}) <b>&pound;{{item.total_price}}</b></small></div></td>
            <td>{{order.total_items}}</td>
            <td>&pound;{{order.total_price}}</td>
          </tr>
          </tr>
        </tbody>
      </table>
    
    <script type="text/ng-template" id="display">
      <td>{{item.isbn}}</td>
      <td>{{item.title}}</td>
      <td>{{item.qty}}</td>
      <td>{{item.total_price}}</td>
      <td>
        <button ng-click="edit(item)">Edit</button>
        <button ng-click="delete($index)">Delete</button>
        <button ng-click="info(item)">Info</button>
      </td>
    </script>
    
    <script type="text/ng-template" id="edit">
      <td><input type="text" ng-model="model.selected.isbn"/></td>
      <td>{{model.selected.title}}</td>
      <td><input type="text" ng-model="model.selected.qty"/></td>
      <td>{{model.selected.total_price}}</td>
      <td>
            <button ng-click="update($index)">Save</button>
            <button ng-click="reset()">Cancel</button>
      </td>
    </script>
    <div>
      <button ng-click="logout()">Logout</button>
    </div>
  </body>
</html>